<nav class="blue darken-3" id="header">
        <div class="nav-wrapper container">


                <a href="#!" class="brand-logo center " style="font-weight:bolder;" id="zoom">StockHub</a>
                <a href="/auth/logout" style="font-size: 12px;" class="brand-logo right " id="zoom"><i
                                class="fas fa-sign-out-alt" id="logout"></i>Logout</a>

                <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i
                                class="fas fa-bars"></i></a>
                <ul class="sidenav" id="mobile-demo">
                        <img src="css/profile.jpg" class="avatar">
                        <h5 id="navhead"> {{name1}}</h5>
                        <div>
                                <li id="nav"><a href="/stories"><i class="fas fa-book-reader"></i>Public Stories</a>
                                </li>
                                <li id="nav"><a href="https://ca.finance.yahoo.com/" target="_blank"><i
                                                        class="fab fa-yahoo"></i>Yahoo
                                                Finance</a></li>
                                <li id="nav"><a href="https://www.coindesk.com/" target="_blank"></i><i
                                                        class="fab fa-bitcoin"></i>CoinDesk</a></li>
                                <li id="nav"><a href="https://stocktwits.com/rooms/" target="_blank"></i><i
                                                        class="fab fa-wpforms"></i></i>Stocktwits</a>
                                </li>
                                <li id="nav"><a href="https://open.spotify.com/show/0mWUJuONiilW5JSBBFZ0s7"
                                                target="_blank"><i class="fas fa-microphone"></i>Bitcoin Podcast</a>
                                </li>
                                <li id="nav"><a href="https://www.youtube.com/playlist?list=PLgEXn9mtX26WRgk_6EWsaP2Acev2REPeJ"
                                                target="_blank"><i class="fas fa-photo-video"></i></i>Investing
                                                Videos</a>
                                </li>
                                <li id="nav"><a href="#"><i class="fas fa-comments-dollar"></i>Chatrooms</a>
                                </li>
                                <li id="nav"><a href="https://www.reddit.com/r/wallstreetbets/" target="_blank"><i
                                                        class="fab fa-reddit"></i>WallstreetBets</a>
                                </li>
                                <li id="nav"><a href="https://www.investopedia.com/simulator/" target="_blank"><i
                                                        class="fas fa-gamepad"></i>Stock Market Simulator</a>
                                </li>
                                <li id="nav"><a href="/dashboard"><i class="fas fa-mail-bulk"></i>Dashboard</a></li>

                </ul>

        </div>
        <br>

        </div>
</nav>