<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <meta http-equiv="Content-Security-Policy" content="default-src *;
     img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
     style-src  'self' 'unsafe-inline' *">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    {{!--
    <link rel="stylesheet" href="/css/style1.css"> --}}
    <title>StockHub Welcome Page</title>
</head>

<body id="login">
    <div class="container login-container">
        <div class="card">
            <div class="card-content">
                <img src="default.png" alt="">
                {{{body}}}
            </div>
        </div>


    </div>
</body>

</html>