<div>


 <h3><i class="fas fa-user-plus"></i> StoryHub Registration</h3>
 <div class="section">
  <p class="lead">Create and Share your Stock porfolio & Strategies</p>
 </div>
 <div class="divider"></div>


 <div class="sign-up-form">
  <form action="/users/register" method="POST">
   <input type="text" class="input-box" placeholder="First Name" name="firstname" required>
   <input type="text" class="input-box" placeholder="Last Name" name="lastname" required>
   <input type="email" class="input-box" placeholder="Your Email" name="email" required>
   <input type="password" class="input-box" placeholder="Your Password" name="password" required>
   <input type="password" class="input-box" placeholder="Confirm Password" name="password2" required>
   <label for="">Already Have an Account? </label>
   {{!-- <button type="button" class="sign-btn" href="/register">Sign Up</button> --}}
   <a href="/users/login">Log In</a>
   <br>
   <br>
   {{!-- <input type="submit" value="Register"> --}}
   <div class="text-center">
    <button type="submit" class="btn btn-primary">Sign Up</button>
    <br>
    <br>
    <a href="/auth/google" class="btn red darken-1">
     <i class="fab fa-google left"></i> Sign up With Google
    </a>
   </div>

  </form>

 </div>

 {{!-- <div class="section">
  <a href="" class="btn blue darken-1">
   <i class="fab fa-google left"></i> Log In With Facebook
  </a>
 </div> --}}
 {{!-- <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with"
  data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div> --}}

 {{!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
 </fb:login-button> --}}

</div>