{{!-- <h3><i class="fas fa-users"></i> Welcome to StoryHub!</h3> --}}
<div class="logo"></div>
<div class="section">
 <img src="css/default.png" alt="">
 <p style="font-size: 19px;" class="lead">Create and Share your Stock Market Portfolio/Strategies <i
   class="fas fa-comments-dollar"></i></p>
</div>
<a href="/users/login" class="btn btn-secondary">Login </a>
<br>
<br>
<a href="/users/register" class="btn btn-primary">Register</a>